<!DOCTYPE html>
<head>
	<style>
		html, body {
			margin: 0;
			padding: 0;
			font-family: "Futura PT", "Futura", Helvetica, "Sans serif";
		}

		.coalitions_holder {
			display: flex;
			height: 100vh;
		}

		.coalition
		{
			flex: 1;
			background-size: cover;
			background-position: center;
			position: relative;
			z-index: -1;
		}


		.progress_bar
		{
			position: absolute;
			bottom: 0;
			left: 15%;
			width: 70%;
			border: 2px solid;
			border-bottom: 0px;
			border-top-right-radius: 50px;
			border-top-left-radius: 50px;
			z-index: 0;
		}

		.progress_bar_torrent
		{
			background: linear-gradient(to top, rgb(10, 57, 129, .95), rgb(23, 103, 222,.8));
			border-color: rgb(10, 0, 155);
			height: 30%;
			content: 0;
			animation: height-anim-torrent 5s forwards ease-out;
		}

		.progress_bar_la_légion
		{
			background: linear-gradient(to top, rgba(94, 4, 4, .95), rgba(204, 0, 0, .8));
			border-color: rgb(74, 0, 0);
			height: 30%;
			content: 0;
			animation: height-anim-la_légion 5s forwards ease-out;
		}

		.progress_bar_armada
		{
			background: linear-gradient(to top, rgba(6, 71, 4, 0.95), rgb(11, 120, 7, .8));
			border-color: rgb(0, 44, 14);
			height: 30%;
			content: 0;
			animation: height-anim-armada 5s forwards ease-out;
		}

		.crown
		{
			aspect-ratio: 1 / 1;
			display: block;
			position:	absolute;
			margin: auto;
			left: 0;
			right: 0;
			text-align: center;
			z-index: 1;
			margin-bottom: 0px;
			width: 30%;
			transform: translateX(0%) translateY(-135%);
		}

		{% for coalition in data.coalitions %}
		.score-{{coalition.name}}
		{
			color: rgba(255,255,255,.9);
			font-weight: bolder;
			position: absolute;
			top: -20px;
			left: 50%;
			transform: translateX(-50%) translateY(-100%);
			color: white;
			font-weight: 1000;
			text-transform: uppercase;
			text-align: center;
			font-size: 2vw;
			counter-reset: score-{{coalition.name}} var(--score-{{coalition.name}});
			animation: counter-{{coalition.name}} 5s forwards ease-in-out;
		}

		.score-{{coalition.name}}::after
		{
			content: counter(score-{{coalition.name}});
		}


		@keyframes height-anim-{{coalition.name}} {
			to {height: {{coalition.height}};}
		}
		
		@keyframes counter-{{coalition.name}} {
			from { --score-{{coalition.name}}: 0;}
			to {--score-{{coalition.name}}: {{coalition.score}};}
		}
		@property --score-{{coalition.name}} {
			syntax: "<integer>";
			initial-value: 0;
			inherits: false;
		}

		
		{% endfor %}

		.coalition-flag--icon
		{
			margin-left: 30%;
			margin-right: 30%;
			fill-opacity: 30%;
			position: absolute;
			bottom:	80px;
			z-index: -1;
		}

		.coalition-name
		{
			color: rgba(255,255,255,.9);
			font-weight: bolder;
			position: absolute;
			bottom: 80px;
			left: 50%;
			transform: translateX(-50%) translateY(100%);
			font-weight: 1000;
			text-transform: uppercase;
			text-align: center;
			font-size: 1.5vw;
		}

		.avatar_container
		{
			color: rgba(255,255,255,.9);
			font-weight: bold;
			font-weight: 1000;
			text-align: center;
			font-size: 1.5vw;
			z-index: 1;
			display: flex;
			margin-top: 5%;
		}

		.avatar_label_scorers
		{
			margin-top: 5%;
			font-weight: 1000;
			z-index: 2;
			color: white;
			font-size: 2vw;
			text-align: center;
		}

		.avatar
		{
			display: block;
			margin-left: 10%;
			margin-right: auto;
			margin-top:	8%;
			width: 30%;
			border-radius: 50%;
			border: 2px solid rgba(124, 124, 124, 0.38);
			aspect-ratio: 1 / 1;
			z-index: 2;
		}

		.name_score
		{
			width: 100%;
			display: block;
		}

		.name_score_total
		{
			margin-top: 20%;
		}

		.position {
			margin-top: auto;
			margin-bottom: auto;
			text-align: center;
			margin-left: 5%;
			font-size: 2vw;
		}

		.torrent_bg
		{
			background-image: url("https://cdn.intra.42.fr/coalition/cover/242/42Q_035_22_BG_Coalitions_Torrent_3000x2000.jpg");
		}

		.la_légion_bg
		{
			background-image: url("https://cdn.intra.42.fr/coalition/cover/243/42Q_035_22_BG_Coalitions_Legion_3000x2000.jpg");
		}

		.armada_bg
		{
			background-image: url("https://cdn.intra.42.fr/coalition/cover/249/42Q_035_22_BG_Coalitions_Armada_3000x2000.jpg");
		}
	</style>
	<title>42 Coalition Leaderboard</title>
</head>
<body>
	<div class="coalitions_holder">
		{% for coalition in data.coalitions %}
		<div class="coalition {{coalition.name}}_bg">
			<div class="progress_bar progress_bar_{{coalition.name}}">
				{% if coalition.position == 1 %}	<img src="https://iili.io/JVrjT2n.png" class="crown"/> {% endif %}
				<div class="score-{{coalition.name}}"></div>
				{% for user in coalition.users %}
				<div class="avatar_container">
					<div class="position">{{user.position}}.</div>
					<img src="{{user.avatar}}" class="avatar">
					<div class="name_score">
						<div class="name">{{user.username}}</div>
						<div class="name_score_total">{{user.score}}</div>
					</div>
				</div>
				{% endfor %}
				{{coalition.svg}}
				<div class="coalition-name">{{coalition.display_name}}</div>
			</div>
		</div>
		{% endfor %}
	</div>
</body>